<html>
<head>
  <title><TMPL_VAR NAME=TITLE></title>
  <style type="text/css">
    body {
      color: #404040;
      margin-left: auto;
      margin-right: auto;
      padding: 1%;
      border: 1px solid #F0F0F0;
      width: 75%;
      font-family: 'Trebuchet MS', Helvetica, sans-serif;
    }

    .story {
      border-bottom: 1px solid #F0F0F0;
      padding: 1%;
    }

    .summary {
      font-weight: bold;
    }
   </style>
</head>

<TMPL_VAR NAME=BODY>

</html> 
